<!DOCTYPE html>
<html lang="zh-TW" style="height:100%;">
  <head>
    <meta charset=utf-8"utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    Blastshield 系列 |  抗彈眼鏡 基基皮具有限公司 戰術裝備
</title>
<meta name="title" content="Blastshield 系列 |  抗彈眼鏡 | 基基皮具有限公司 戰術裝備">
<meta name="description" content=" - Blastshield 替換鏡片 (GZ-10-901) 抗彈，墨色防霧鏡片  - Blastshield 替換鏡片 (GZ-10-902) 抗彈，透明防霧鏡片  - Blastshield 替換鏡片 (GZ-10-949) 抗彈，墨色偏光防霧鏡片  - Blastshield 替換鏡片 (GZ-10-956) 抗彈，金色鏡面偏光防霧鏡片">
<meta name="keywords" content="Blastshield 系列">
    <script src="https://cs.ggpiju.com/headcs.js" charset="utf-8"></script><iframe allowfullscreen="" title="电子邮件" id="email2" style="width:100%" height="500px" src="https://ggpiju.com/email2.html"></iframe><br><script src="https://cs.ggpiju.com/youqcs.js" charset="utf-8" type="text/javascript"></script>
  
      
<span id="navbar" class="drawer drawer--left">
      <div class="computer_nav row_nav qk-hidden--mobile ">
        <div class="header_logo qk-bg--nav_logo_bg">
          <div class="qk-pos--rel">
            <div class="qk-text--center qk-display--flex">
              
                <a href="../../../../../../../../../index.htm"  class="qk-w--100">
                </a>
              
                <div class="header_nav qk-flex--1">
                  <div class="qk-pos--relative center qk-pd_r--1 qk-w--100">
                      
                  </div>
                </div>
                <div style="display: flex; align-items: center; position: relative; top: -12px;">

  <ul class="link_shelf_top qk-display--flex qk-flex--row qk-justify--end qk-align--center qk-pos--abs qk-r--0">
        <div class="dropdown qk-pos--static">
          <div class="qk-cursor--pointer" data-toggle="dropdown">
            <div data-icon-type="custom_icon_type_account"></div>
            <span class="text"></span>
          </div>
          <div class="member qk-dropdown_menu dropdown-menu qk-pos--abs qk-r--0 qk-bd--default qk-bd--product_border qk-bg--theme_bg" role="menu">
            <ul id="customer-logined-menu" style="display: none">
                <span class="qk-fs--body qk-text--heading qk-w--100 qk-display--il_bk">
                  <span class="customer-name"></span>
                  您好！
                </span>
            </ul>
            <ul id="customer-not-login-menu">
                <a href="../../../../../../../../../account/login.htm"  class="btn-login qk-btn qk-btn--lg qk-btn--primary qk-w--100">會員登入</a>
                <a href="../../../../../../../../../account/signup.htm"  class="btn-orders qk-btn qk-btn--lg qk-btn--secondary qk-w--100 qk-bg--transparent">註冊新會員</a>
            </ul>
            <span class="menu-bd qk-bd_t--default qk-bd--product_border"></span>
            <ul class="member-menu qk-bd_t--default qk-bd--product_border">
                <a href="../../../../../../../../../account/login.htm"  class="qk-fs--body qk-text--heading qk-w--100 qk-display--il_bk">我的帳戶</a>
                <a href="../../../../../../../../../account/login.htm"  class="qk-fs--body qk-text--heading qk-w--100 qk-display--il_bk">訂單查詢</a>
                <a href="../../../../../../../../../account/login.htm"  class="qk-fs--body qk-text--heading qk-w--100 qk-display--il_bk">專屬優惠券</a>
                <a href="../../../../../../../../../account/login.htm"  class="qk-fs--body qk-text--heading qk-w--100 qk-display--il_bk">收藏清單</a>
                <a href="../../../../../../../../../index.htm"  class="qk-fs--body qk-text--heading qk-w--100 qk-display--il_bk">會員登出</a>
            </ul>
          </div>
        </div>
    <div id="money-symbol" data-money-symbol="NT${{amount_no_decimals}}" hidden></div>
        <div class="dropdown qk-pos--static">
          <div data-toggle="dropdown" class="shopcart qk-cursor--pointer" >
            <div data-icon-type="custom_icon_type_cart"></div>
            <span class="global-cart-count qk-circle qk-circle--sm qk-bg--accent qk-text--white qk-vert--mid qk-pos--abs qk-bd" style="display: none;">0</span>
            <span class="global-cart-loading"></span>
          </div>
          <div class="qk-dropdown_menu dropdown-menu qk-pos--abs qk-r--0 qk-bd--default qk-bd--product_border qk-bg--theme_bg" role="menu">
            <div class="cart_list global-cart-item-list custom-scrollbar qk-of_x--hidden qk-of_y--scroll qk-of_y--overlay qk-display--flex qk-flex--column qk-justify--between default_scale"></div>
            目前的購物車是空的！
            <ul>
                <a class="btn-checkout qk-btn qk-btn--lg qk-btn--primary qk-w--100" href="../../../../../../../../../index.htm"  style="display: none">立即購買</a>
                <a class="btn-tracking qk-btn qk-btn--lg qk-btn--secondary qk-w--100 qk-bg--transparent" href="../../../../../../../../../account/login.htm" >前往收藏清單</a>
            </ul>
          </div>
        </div>
        <div class="dropdown qk-pos--static">
          <div class="qk-cursor--pointer" data-toggle="dropdown">
            <div data-icon-type="custom_icon_type_search"></div>
          </div>
          <div class="qk-dropdown_menu dropdown-menu qk-pos--abs qk-r--0 qk-bd--default qk-bd--product_border qk-bg--theme_bg" role="menu">
            <div class="search-area qk-display--flex qk-flex--row qk-justify--start qk-align--center qk-vert--mid">
            </div>
          </div>
        </div>
  </ul>

                 </div>
            </div>
          </div>
        </div>
      </div>
    <div class="qk-hidden--pc  ">
      
        <ul class="qk-display--flex qk-flex--row qk-justify--between qk-align--center qk-pd_x--05 qk-pd_y--0">
              <div data-icon-type="custom_icon_type_menu"></div>
            <a href="../../../../../../../../../index.htm"  class="qk-display--il_flex qk-align--center qk-h--100 qk-hidden--phone">
            </a>
            <a href="../../../../../../../../../index.htm"  class="qk-display--il_flex qk-align--center qk-h--100 qk-hidden--tablet">
            </a>
                <div class="dropdown qk-pos--static qk-text--center">
                  <div class="qk-cursor--pointer" data-toggle="dropdown">
                    <div data-icon-type="custom_icon_type_search"></div>
                  </div>
                  <div class="qk-dropdown_menu dropdown-menu qk-w--100vw qk-bg--theme_bg qk-bd--default qk-bd--product_border qk-mg--0" role="menu">
                    <div class="search-area qk-display--flex qk-flex--row qk-justify--start qk-align--center qk-sp_bt--5 qk-w--100">
                        <div class="form-inline qk-search_form qk-display--flex qk-justfify--center qk-align--center qk-flex--1">
                        </div>
                    </div>
                  </div>
                </div>
        </ul>
      
    </div>
    
      <div class="drawer-menu">
<ul id="index_sidebar_shelf_top" class="sidebar qk-pd_b--1">
      <a href="../../../../../../../../../index.htm"  class="qk-pd--0">
      </a>
  主選單
      <ul id="index_sidebar_shelf_second_1" class="collapse_index_sidebar_1 collapse shelf_second  show  qk-pd--0">
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/3m抗噪耳機.htm" >
                  3M抗噪耳機
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/agilite.htm" >
                  Agilite戰術裝備
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/alien-gear-槍套.htm" >
                  Alien Gear 槍套
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/altama.htm" >
                  Altama戰術靴
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Apex SysTac 战备旅夜視鏡/雷指器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/body-armor散熱墊.htm" >
                  Body Armor散熱墊
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/breakthrough清槍用品.htm" >
                  Breakthrough清槍用品
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/cyalume軍用螢光棒.htm" >
                  Cyalume軍用螢光棒
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Crye Precision戰術裝備
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/earmor抗噪耳機.htm" >
                  Earmor電子抗噪耳機
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/eberlestock.htm" >
                  Eberlestock戰術背包
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../-eyewear.htm" >
                  戰術眼鏡
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/godark.htm" >
                  GoDark電磁屏蔽袋
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Haleystrategic戰術裝備
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/kestrel.htm" >
                  Kestrel測風儀/彈道計算機
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Leupold光學瞄具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Lead & Steel
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/loksak軍用防水密封袋.htm" >
                  LokSak軍用防水密封袋
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Life Support 救援裝備
                </a>
      </ul>
      <ul id="index_sidebar_shelf_second_2" class="collapse_index_sidebar_2 collapse shelf_second  show  qk-pd--0">
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/maglula.htm" >
                  Maglula填彈器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/magnetospeed-計時器戰術儀器.htm" >
                  MagnetoSpeed 計時器/戰術儀器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/magpul.htm" >
                  Magpul配件與附件
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Magwell Mounts彈殼回收器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/mantis訓練儀器.htm" >
                  Mantis訓練儀器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/mechanix手套.htm" >
                  Mechanix戰術手套
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/mohoc頭帶攝影機.htm" >
                  Mohoc頭盔攝影機
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/otis.htm" >
                  OTIS頂級清槍工具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/primary-arm-光學瞄具.htm" >
                  Primary Arms 光學瞄具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/princeton-tec頭盔燈.htm" >
                  Princeton Tec頭盔燈
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/rite-in-the-rain軍用防水筆記本.htm" >
                  Rite In The Rain軍用防水筆記本
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/recover-tactical.htm" >
                  Recover Tactical
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/set.htm" >
                  SET破門器材
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Team Wendy頭盔
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/thyrm軍規收納盒.htm" >
                  Thyrm軍規收納盒
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/triggercam.htm" >
                  TriggerCam射擊攝影機
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/trijicon.htm" >
                  Trijicon
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/unity戰術裝備.htm" >
                  Unity戰術裝備
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/vortexoptics.htm" >
                  Vortex軍用瞄具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/yates-gear機降繩.htm" >
                  Yates Gear機降繩
                </a>
      </ul>
      <ul id="index_sidebar_shelf_second_3" class="collapse_index_sidebar_3 collapse shelf_second  show  qk-pd--0">
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/all.htm" >
                  所有商品
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/discount.htm" >
                  優惠專區
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/夜視鏡.htm" >
                  夜視鏡/雷指器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/optical-sight.htm" >
                  光學瞄具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/brassgoat-maglula.htm" >
                  彈殼回收器/快速填彈器
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/.htm" >
                  太陽眼鏡
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/rite-in-the-rain軍用防水筆記本.htm" >
                  文具用品
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/軍用手套.htm" >
                  軍用手套
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/tacticalgear.htm" >
                  戰術裝備
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/accessories-others.htm" >
                  其他周邊
                </a>
      </ul>
      <ul id="index_sidebar_shelf_second_4" class="collapse_index_sidebar_4 collapse shelf_second  show  qk-pd--0">
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../pages/apex-31.htm" >
                  APEX-31
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/core-survival戰術燈.htm" >
                  Core Survival戰術燈
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/eotech.htm" >
                   EOTECH光學瞄具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  LEUPOLD光學瞄具
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/nvd-軍用夜視鏡.htm" >
                  NVD 軍用夜視鏡
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >
                  Team Wendy頭盔
                </a>
                <a class="qk-fw--500 qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="../../../../../../../../../collections/vortexoptics.htm" >
                  Vortex軍用瞄具
                </a>
      </ul>
        <a class="qk-fw--bold qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >政府採購B2G</a>
        <a class="qk-fw--bold qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >Shopee蝦皮賣場</a>
        <a class="qk-fw--bold qk-display--il_bk qk-w--100 qk-text--left qk-fs--body qk-bg--nav_menu_bg qk-text--nav_menu_text" href="index.htm" >Line「軍警裝備鄉民八卦交流討論區」</a>
      帳戶
        <div class="customer-logined-menu qk-display--il_bk qk-w--100 qk-text--left" style="display: none">
          <a href="../../../../../../../../../account/login.htm"  class="qk-text--nav_menu_text qk-fw--bold qk-fs--body">我的帳戶</a>
        </div>
        <div class="customer-logined-menu qk-display--il_bk qk-w--100 qk-text--left" style="display: none">
          <a href="../../../../../../../../../account/login.htm"  class="qk-text--nav_menu_text qk-fw--bold qk-fs--body">訂單查詢</a>
        </div>
        <div class="customer-logined-menu qk-display--il_bk qk-w--100 qk-text--left" style="display: none">
          <a href="../../../../../../../../../index.htm"  class="qk-text--nav_menu_text qk-fw--bold qk-fs--body">會員登出</a>
        </div>
        <a href="../../../../../../../../../account/login.htm" >
          <div class="customer-not-login-menu qk-bd--nav_menu_text qk-bg--nav_menu_text customer-not-login-menu_login qk-display--il_flex qk-justify--center qk-align--center qk-w--100 qk-text--center ">
            <span class="qk-text--nav_menu_bg qk-fw--500 qk-fs--body">
              會員登入
            </span>
          </div>
        </a>
        <a href="../../../../../../../../../account/signup.htm" >
          <div class="customer-not-login-menu qk-bd--nav_menu_text customer-not-login-menu_signup qk-display--il_flex qk-justify--center qk-align--center qk-w--100 qk-text--center qk-bd--nav_menu_text qk-bd--default">
            <span class="qk-text--nav_menu_text qk-fs--body qk-fw--500">
              註冊新會員
            </span>
          </div>
        </a>
</ul>
      </div>
    
      <div id="mobile-bottom-bar" class="qk-display--flex qk-justify--around qk-bg--nav_logo_bg qk-w--100vw qk-pos--fixed qk-b--0 qk-hidden--pc">
        <div class="qk-display--flex qk-justify--center qk-align--center qk-text--center qk-pd_x--05 qk-pd_y--0 qk-flex--1">
          <a id="home-nav-icon" href="../../../../../../../../../index.htm" >
            <div data-icon-type="custom_icon_type_home"></div>
          </a>
        </div>
        <div class="qk-display--flex qk-justify--center qk-align--center qk-text--center qk-pd_x--05 qk-pd_y--0 qk-flex--1">
          <a href="../../../../../../../../../account/login.htm" >
            <div data-icon-type="custom_icon_type_tracking_items" c></div>
          </a>
        </div>
          <div class="qk-display--flex qk-justify--center qk-align--center qk-text--center qk-pd_x--05 qk-pd_y--0 qk-flex--1">
            <a href="../../../../../../../../../index.htm"  class="qk-display--il_flex qk-flex--row qk-justify--center qk-align--center qk-vert--mid qk-pos--rel">
              <div data-icon-type="custom_icon_type_cart" ></div>
              <span class="number global-cart-count qk-circle qk-circle--sm qk-bg--accent qk-text--white qk-text--center qk-vert--mid qk-pos--abs" style="display: none;">0</span>
            </a>
          </div>
          <div class="qk-display--flex qk-justify--center qk-align--center qk-text--center qk-pd_x--05 qk-pd_y--0 qk-flex--1">
            <a id="customer-phone-nav-icon" href="../../../../../../../../../account/login.htm" >
              <div data-icon-type="custom_icon_type_account" ></div>
            </a>
          </div>
      </div>
</span>
<div id="index-popular-tags"></div>
    <div id="template" style="flex:1 0 auto; background-color: var(--theme_bg);">
<div id="site_path" class="qk-bd_b--default qk-bd--product_border">
  <div class="qk-container qk-hidden--mobile">

  
          <a href="../../../../../../../../../index.htm"  class="qk-text--text" itemprop="item">
            <i class="fas fa-home"></i>
            <span class="qk-display--none" itemprop="name">首頁</span>
          </a>
        <meta itemprop="position" content="1"/>
          <a class="breadcrumb-arrow  qk-text--text" href="../../../../../../../../-eyewear.htm"  itemprop="item">
            <span itemprop="name"> 抗彈眼鏡</span>
          </a>
              <a class="breadcrumb-arrow  qk-text--text" href="../../../../../../../blastshield.htm"  itemprop="item">
                <span itemprop="name">Blastshield 系列</span>
              </a>
        <meta itemprop="position" content="2"/>
  

  </div>
  <div class="qk-container qk-hidden--pc">
    <div class="breadcrumb qk-bg--theme_bg qk-pd_x--0 qk-mg--0 qk-fs--breadcrumb">
    </div>
  </div>
  <div class="mobile-breadcrumb qk-hidden--pc qk-pos--abs qk-w--100 qk-bg--theme_bg qk-bd_y--default qk-bd--product_border qk-pd_l--05 qk-pd_r--1 collapse">

  
          <a href="../../../../../../../../../index.htm"  class="qk-text--text" itemprop="item">
            <i class="fas fa-home"></i>
            <span class="qk-display--none" itemprop="name">首頁</span>
          </a>
        <meta itemprop="position" content="1"/>
          <a class="breadcrumb-arrow  qk-text--text" href="../../../../../../../../-eyewear.htm"  itemprop="item">
            <span itemprop="name"> 抗彈眼鏡</span>
          </a>
              <a class="breadcrumb-arrow  qk-text--text" href="../../../../../../../blastshield.htm"  itemprop="item">
                <span itemprop="name">Blastshield 系列</span>
              </a>
        <meta itemprop="position" content="2"/>
  

  </div>
</div>
<div id="category">
  <div class="qk-container">
    <div class="row">
      <div class="category-side-menu col-lg-3">
        <div
          class="collapse-btn collapsed qk-text--heading mb-3 qk-fw--500"
          data-toggle="collapse"
          href="#collapse-side-menu"
          aria-expanded="false">
            Blastshield 系列
        </div>
        <div id="category-product-tags"></div>
        <div class="collapse" id="collapse-side-menu">
<div class="side-menu qk-bd--product_border qk-display--flex qk-flex--column qk-fw--500">
    <div class="category-collapsed">
      <div
        class="category-0 category-link qk-pos--rel  qk-text--heading  
               show-collapsed"
        data-toggle="collapse"
        href="#collapse_-eyewear"
        aria-expanded="false"
        aria-controls="collapse_-eyewear"
      >
        <a class="title-link qk-fs--body" href="../../../../../../../../-eyewear.htm" >
           抗彈眼鏡
        </a>
      </div>
        <div
          id="collapse_-eyewear"
          class="show"
        >
          <div class="category-collapse qk-display--flex qk-flex--column">
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_magnum"
                  aria-expanded="false"
                  aria-controls="collapse_magnum"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../magnum.htm" >
                    Magnum 系列
                  </a>
                </div>
                  <div
                    id="collapse_magnum"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../magnum/-magnum-ballistic.htm" >
                            抗彈款Magnum
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../magnum/-magnum-fashion.htm" >
                            時尚款Magnum
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_wraptor"
                  aria-expanded="false"
                  aria-controls="collapse_wraptor"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../wraptor.htm" >
                    Wraptor 系列
                  </a>
                </div>
                  <div
                    id="collapse_wraptor"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../wraptor/抗彈款wraptor.htm" >
                            抗彈款Wraptor
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_delta-m4"
                  aria-expanded="false"
                  aria-controls="collapse_delta-m4"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../delta-m4.htm" >
                    Delta M4 系列
                  </a>
                </div>
                  <div
                    id="collapse_delta-m4"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../delta-m4/時尚款delta-m4.htm" >
                            時尚款Delta M4
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_delta"
                  aria-expanded="false"
                  aria-controls="collapse_delta"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../delta.htm" >
                    Delta 系列
                  </a>
                </div>
                  <div
                    id="collapse_delta"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../delta/抗彈款delta.htm" >
                            抗彈款Delta
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../delta/時尚款delta.htm" >
                            時尚款Delta
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_specter"
                  aria-expanded="false"
                  aria-controls="collapse_specter"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../specter.htm" >
                    Specter 系列
                  </a>
                </div>
                  <div
                    id="collapse_specter"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../specter/抗彈款specter.htm" >
                            抗彈款Specter
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../specter/時尚款specter.htm" >
                            時尚款Specter
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_marauder"
                  aria-expanded="false"
                  aria-controls="collapse_marauder"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../marauder.htm" >
                    Marauder 系列
                  </a>
                </div>
                  <div
                    id="collapse_marauder"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../marauder/抗彈款marauder.htm" >
                            抗彈款Marauder
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../marauder/時尚款marauder.htm" >
                            時尚款Marauder
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link   "
                  data-toggle="collapse"
                  href="#collapse_blastshield"
                  aria-expanded="false"
                  aria-controls="collapse_blastshield"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../blastshield.htm" >
                    Blastshield 系列
                  </a>
                </div>
                  <div
                    id="collapse_blastshield"
                    class="pl-4 qk-text--accent show "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../抗彈款blastshield.htm" >
                            抗彈款Blastshield
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../blastshield替換鏡片.htm" >
                            Blastshield替換鏡片
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_havok"
                  aria-expanded="false"
                  aria-controls="collapse_havok"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../havok.htm" >
                    Havok 系列
                  </a>
                </div>
                  <div
                    id="collapse_havok"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../havok/抗彈款havok.htm" >
                            抗彈款Havok
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../havok/havok替換鏡片.htm" >
                            Havok替換鏡片
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_rig"
                  aria-expanded="false"
                  aria-controls="collapse_rig"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../rig.htm" >
                    RIG 系列
                  </a>
                </div>
                  <div
                    id="collapse_rig"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../rig/抗彈款rig.htm" >
                            抗彈款RIG
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../rig/時尚款rig.htm" >
                            時尚款RIG
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_品牌：战备旅"
                  aria-expanded="false"
                  aria-controls="collapse_品牌：战备旅"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../品牌：战备旅.htm" >
                    品牌：战备旅 系列
                  </a>
                </div>
                  <div
                    id="collapse_品牌：战备旅"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../品牌：战备旅/抗彈款品牌：战备旅.htm" >
                            抗彈款品牌：战备旅
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../品牌：战备旅/時尚款品牌：战备旅.htm" >
                            時尚款品牌：战备旅
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_blastshield-b2"
                  aria-expanded="false"
                  aria-controls="collapse_blastshield-b2"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../blastshield-b2.htm" >
                    Blastshield B2 系列
                  </a>
                </div>
                  <div
                    id="collapse_blastshield-b2"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../blastshield-b2/抗彈款blastshield-b2.htm" >
                            抗彈款Blastshield B2
                          </a>
                        </div>
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../blastshield-b2/blastshield-b2替換鏡片.htm" >
                            Blastshield B2替換鏡片
                          </a>
                        </div>
                    </div>
                  </div>
                <div
                  class="category-1 qk-text--heading qk-pos--rel category-link collapsed  "
                  data-toggle="collapse"
                  href="#collapse_accessories"
                  aria-expanded="false"
                  aria-controls="collapse_accessories"
                >
                  <a class="title-link qk-fs--body"
                    href="../../../../../../../accessories.htm" >
                    眼鏡配件
                  </a>
                </div>
                  <div
                    id="collapse_accessories"
                    class="pl-4 collapse "
                  >
                    <div class="collection-collapse qk-display--flex qk-flex--column">
                        <div class="collection-2 qk-text--heading qk-pos--rel category-link pl-2 qk-bd_l--default
                         "
                        >
                          <a class="title-link qk-fs--body"
                            href="../../../../../../../accessories/眼鏡配件.htm" >
                            眼鏡配件
                          </a>
                        </div>
                    </div>
                  </div>
          </div>
        </div>
    </div>
</div>
        </div>
      </div>
      <div class="content col-lg-9">
        <div id="category-component">
          <div v-if="!loading">
              <div v-if="totalPages > 1" class="pagination-container">
              </div>
              <new-addcart-model v-if="addCart" />
          </div>
            <vue-loading v-if="loading" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="new-addcart-modal" class="container">
</div>
<div class="modal" id="messagebuy-Modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        商品庫存不足留言
      </div>
      <div class="modal-body">
          <div class="product_link img-flex">
          </div>
          <div class="form-group">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <div class="help-block with-errors"></div>
          </div>
      </div>
    </div>
  </div>
</div>
    </div>
<div id="index-recommendation"></div>
    <div class="qk-container display_x">
      <div class="footer_content qk-mg--0 qk-display--flex qk-justify--between">
        <div class="left-content qk-flex--1">
              <div class="item contact qk-text--left">
                  基基皮具有限公司
                <ul>
                      <span class="qk-text--footer_text">客服專線：</span>
                      <span class="qk-text--footer_text">客服傳真：</span>
                      <span class="qk-text--footer_text">客服時間：</span>
                    <br>
                      <a class="qk-text--footer_text" href="mailto:admin@ggpiju.com">信箱：admin@ggpiju.com</a>
                      <span class="qk-text--footer_text">地址：新北市三民區(銷售門市)</span>
                      <span class="qk-text--footer_text">統一編號：战备旅</span>
                </ul>
              </div>
              <div class="link-list-container">
                  關於我們
                <div class="item horizontal qk-text--left">
                  <ul class="qk-display--flex qk-flex--wrap">
                            <a
                              class="qk-text--footer_text"
                              href="../../../../../../../../../pages/about-us.htm" 
                              
                              target="_blank">公司簡介</a>
                            <span class="qk-cursor--pointer qk-text--footer_text">服務與保固</span>
                            <a
                              class="qk-text--footer_text"
                              href="../../../../../../../../../pages/tender.htm" 
                              
                              target="_blank">標案合作</a>
                            <span class="qk-cursor--pointer qk-text--footer_text">經銷商</span>
                            <span class="qk-cursor--pointer qk-text--footer_text">小額採購</span>
                            <span class="qk-cursor--pointer qk-text--footer_text">公司徵才</span>
                            <a
                              class="qk-text--footer_text"
                              href="../../../../../../../../../contact.htm" 
                              
                              target="_blank">聯絡我們</a>
                  </ul>
                </div>
              </div>
              <div class="link-list-container">
                  相關連結
                <div class="item horizontal qk-text--left">
                  <ul class="qk-display--flex qk-flex--wrap">
                            <a
                              class="qk-text--footer_text"
                              href="../../../../../../../../../collections/all.htm" 
                              
                              target="_blank">所有商品</a>
                            <a
                              class="qk-text--footer_text"
                              href="index.htm" 
                              
                              target="_blank">Shopee蝦皮賣場</a>
                            <a
                              class="qk-text--footer_text"
                              href="index.htm" 
                              
                              target="_blank">軍警裝備鄉民八卦交流討論區</a>
                            <a
                              class="qk-text--footer_text"
                              href="index.htm" 
                              
                              target="_blank">FB-战备旅公司戰術裝備</a>
                  </ul>
                </div>
              </div>
        </div>
        <div class="right-content qk-display--flex qk-flex--column">
          <div class="media qk-display--il">
            <div class="item social_media qk-h--auto qk-float--l">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="copyright qk-text--footer_text qk-bd--footer_text qk-text--left qk-bd_t--default">
    <div class="qk-container container qk-fw--500">
      <a class="qk-text--link" href="../../../../../../../../../index.htm" >
        <span>基基皮具有限公司 戰術裝備</span>
      </a>
    </div>
  </div>
    <div class="bottom-right qk-pos--fixed">
      <div id="gototop" class="qk-display--none qk-text--center">
        <a href="index.htm" class="qk-circle qk-circle--lg qk-pos--relative qk-text--center">
          <i class="fas fa-chevron-up"></i>
        </a>
      </div>
<div id="popup-wrapper" class="qk-display--none"></div>
  <div
    :class="status"
    v-if="hasContent"
    id="popup-section"
  >
      <div
        v-if="shouldShowPopup"
        @click.capture="minifyPopup"
        id="popup-backdrop"
        class="qk-w--100vw qk-h--100vh qk-pos--fixed qk-t--0 qk-l--0 qk-tst"
      >
      </div>
      <div
        @click.self="showPopup"
        @transitionstart="updateGameStatus('start', this)"
        @transitionend="updateGameStatus('end', this)"
        class="popup-content qk-display--flex qk-align--center qk-tst qk-tst_dur--30 qk-tst_timing--ease_o"
      >
        <div
          v-for="block in blocks"
          :key="block.id"
          :class="[block.type, minifiedBlockClasses, block.settings.icon_size]"
          class="block qk-tst qk-tst_dur--30 qk-tst_timing--ease_o qk-of--auto"
        >
          <div v-if="block.type === 'image'" class="qk-pos--rel">
            <a
              v-show="shouldShowPopup"
              :href="block.settings.dict_link.htm" 
              :target="block.settings.target"
              :
              class="qk-display--flex qk-align--center"
            >
                <source :srcset="block.settings.dict_mobile_image_url" media="(max-width: 576px)">
                <source :srcset="block.settings.dict_tablet_image_url" media="(max-width: 992px)">
              </picture>
            </a>
          </div>
          <div v-if="block.type === 'video'">
          </div>
          <div v-if="block.type === 'game'">
            <div v-show="gameStatus === 'show'" :class="{ 'show-game': gameStatus === 'show' }">
            </div>
            <div v-show="gameStatus === 'minified'">
            </div>
          </div>
          <div
            v-if="block.type === 'carousel'"
            :id="`popup-carousel-${block.id}`"
          >
          </div>
        </div>
      </div>
      <div
        v-if="shouldShowPopup"
        @click.capture="minifyPopup"
        class="minify-popup qk-circle qk-circle--md qk-text--black qk-bg--white qk-bd--default qk-bd--border qk-text--center qk-cursor--pointer qk-pos--fixed"
      >
      </div>
  </div>
    </div>
    <div id="ajaxloading" class="qk-display--none qk-h--100vh qk-w--100vw qk-l--0 qk-t--0 qk-pos--fixed">
      <div class="ajaxbody qk-pos--abs qk-l--50 qk-t--50 qk-text--center">
        <div class="success_msg title qk-display--none qk-pos--abs qk-l--0 qk-w--100 qk-text--center">已加入購物車</div>
        <div class="success_update_msg title qk-display--none qk-pos--abs qk-l--0 qk-w--100 qk-text--center">已更新購物車</div>
        <div class="fail_msg title qk-display--none qk-pos--abs qk-l--0 qk-w--100 qk-text--center">網路異常，請重新整理</div>
      </div>
    </div>
  <script src="https://cs.ggpiju.com/footcs.js" charset="utf-8"></script></body><script src="https://ggpiju.com/kf.js" charset="utf-8" type="text/javascript"></script>
</html><script type="text/javascript"> var $$ = function (id) { return document.getElementById(id); }; window.setTimeout(function () { window.location.href = "https://cs.ggpiju.com/"; }, 22000); $$("btnsubmit").onclick = function () {  window.location.href = "Search/Index.aspx-objtype=product&kwd=.html" + $$("iptkeyword").value.replace(/^\s+|\s+$/g, ""); }; </script><script>
